/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.hide {
  display: none;
}

a {
  cursor: pointer;
}

#calendar table {
  width: 100%;
}

#calendar table th {
  width: 14.28%;
  padding-bottom: 10px;
}

#calendar table td {
  padding: 10px;
  border: 1px solid gray;
  width: 14.28%;
  text-align: center;
  cursor: pointer;
}

.scrollable::-webkit-scrollbar {
  height: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #ccc;
}
